.error-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    header {
        display: flex;
        align-items: baseline;
        color: var(--main-clr);
        h2 {
            font-size: 10rem;
        }
        h3 {
            font-size: 4rem;
            color: var(--strong-clr);
        }
    }
    .text-box {
        h3 {
            font-size: 2em;
            color: rgb(153, 153, 153);
            padding: 2rem;
        }
        text-align: center;
    }
}

@media (max-width: 65rem) {
    .error-page {

        header {
            h2 {
                font-size: 6rem;
            }
            h3 {
                font-size: 2rem;
            }
        }
    }
}